.contact{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    
}

.contact__mid{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    gap:5px;
    
    
}

.contact__mid-heading{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.contact__mid-link{
    display: flex;
    gap: 10px;
}

.contact__mid-link-tel{
    color:#1D252D;
    padding-right: 10px;
    border-right: 1px solid rgba(29, 37, 45, 1);

}

.contact__mid-link-mail{
    color:#1D252D;
}

.contact__request{
    color:#1D252D;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}