.cookie{
    position: fixed;
    width: 360px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    padding: 26px;
    background-color: #1D252D;
    bottom:255px;
    right: 165px;
    display: none;
    gap: 16px;
}

.cookie--active{
    display: flex
}

.cookie__text{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.cookie__text-link{
    text-decoration: underline;
}

.cookie__text-link:hover{
    color:rgba(255, 255, 255, 0.5);
}

.cookie__desc{
    width: 308px;
    padding: 9px 0;
    color: #1D252D;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.cookie__exit-icon{
    position: absolute;
    color:#fff;
    top: 6px;
    right: 6px;
}

