.vacancy__block{
    margin-bottom: 110px;
}

.vacancy__block-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.vacancy__block-heading-text{
    font-weight: 200;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    margin: 0;
}

.vacancy__block-heading-contact{
    display: flex;
    align-items: center;
}

.vacancy__block-list{
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.vacancy__block-list-item{
    width: 100%;
    display: flex;
    padding: 28px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(214, 210, 196, 1);
}

.vacancy__block-list-item:first-child{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(214, 210, 196, 1);
}

.vacancy__block-list-name{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.vacancy__block-list-price{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}